@toggle-width: 45px;
@toggle-height: 24px;

.toggle-wrapper {
    display: flex;
    align-items: center;

    label {
        padding-left: 5px;
    }

    .toggle {
        appearance: none;
        min-width: @toggle-width;
        height: @toggle-height;
        display: inline-block;
        position: relative;
        border-radius: 50px;
        overflow: hidden;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: @gray-darker;
        transition: background-color ease 0.5s;

        &:disabled {
            background-color: @gray-light;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            background: @white;
            left: 2px;
            top: 2px;
            border-radius: 50%;
            transition: all 0.5s;
        }
    }
}

.toggle:checked {
    background-color: @info-darker;
    &:disabled {
        background-color: @info-lighter;
    }
}

.toggle:checked:before {
    transform: translateX(21px);
}


