.violation {
    font-size: 12px;

    .violation-icon {
        @error-icon();

        vertical-align: -5%;
        padding-right: 5px;
        color: @error;
    }

    .violation-text {
        color: @error;
    }
}
