@font-size-base: 14px;
@tooltip-color: @white;
@tooltip-bg: @gray-lighter;
@tooltip-arrow-color: @tooltip-bg;

@tooltip-arrow-background-after: @tooltip-bg;
@tooltip-arrow-background-before: @gray-mid-light;

.tooltip-container {
    background-color: @tooltip-bg;
    border-radius: 0px;
    font-size: @font-size-base;
    padding: 10px 16px;
    border: 1px solid @gray-mid;
    box-shadow: 0 2px 4px @gray-mid;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s;
    z-index: 2147483647;
}

.tooltip-container-top {
    margin-bottom: 1rem;
}

.tooltip-container-bottom {
    margin: 2.41rem;
}

.tooltip-container-left {
    margin-right: 1.5rem;
}

.tooltip-arrow-top,
.tooltip-arrow-bottom {
    margin-left: -1.5rem;
}

.tooltip-arrow-right,
.tooltip-arrow-left {
    margin-top: -0.4rem;
}

.tooltip-arrow {
    height: 1rem;
    position: absolute;
    width: 1rem;
}

.tooltip-arrow::before {
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    margin: auto;
    width: 0;
}

.tooltip-arrow::after {
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    margin: auto;
    position: absolute;
    width: 0;
}

.tooltip-arrow[data-placement*='bottom'] {
    height: 1rem;
    left: 0;
    margin-top: -1rem;
    top: 0;
    width: 1rem;
}

.tooltip-arrow[data-placement*='bottom']::before {
    border-color: transparent transparent @tooltip-arrow-background-before transparent;
    border-width: 0 1rem 1rem 1rem;
    position: absolute;
}

.tooltip-arrow[data-placement*='bottom']::after {
    border-color: transparent transparent @tooltip-arrow-background-after transparent;
    border-width: 0 1rem 1rem 1rem;
    top: 1px;
}

.tooltip-arrow[data-placement*='top'] {
    bottom: 0;
    height: 1rem;
    left: 0;
    margin-bottom: -1rem;
    width: 1rem;
}

.tooltip-arrow[data-placement*='top']::before {
    border-color: @tooltip-arrow-background-before transparent transparent transparent;
    border-width: 1rem 1rem 0 1rem;
    position: absolute;
    top: 1px;
}

.tooltip-arrow[data-placement*='top']::after {
    border-color: @tooltip-bg transparent transparent transparent;
    border-width: 1rem 1rem 0 1rem;
}

.tooltip-arrow[data-placement*='right'] {
    height: 1rem;
    left: 0;
    margin-left: -0.8rem;
    width: 1rem;
}

.tooltip-arrow[data-placement*='right']::before {
    border-color: transparent @tooltip-arrow-background-before transparent transparent;
    border-width: 0.8rem 0.8rem 0.8rem 0;
    position: absolute;
}

.tooltip-arrow[data-placement*='right']::after {
    border-color: transparent @tooltip-arrow-background-after transparent transparent;
    border-width: 0.8rem 0.8rem 0.8rem 0;
    left: 1px;
}

.tooltip-arrow[data-placement*='left'] {
    height: 1rem;
    margin-right: -0.8rem;
    right: 0;
    width: 1rem;
}

.tooltip-arrow[data-placement*='left']::before {
    border-color: transparent transparent transparent @tooltip-arrow-background-before;
    border-width: 0.8rem 0 0.8rem 0.8rem;
    position: absolute;
    right: 1px;
}

.tooltip-arrow[data-placement*='left']::after {
    border-color: transparent transparent transparent @tooltip-arrow-background-after;
    border-width: 0.8rem 0 0.8rem 0.8rem;
}