@import "~rc-slider/assets/index.css";

@slider-color: @info-dark;

.options-slider {
    padding: 30px 80px 26px 80px;

    .options-slider-label {
        display: block;
    }

    .rc-slider {

        &-handle {
            border: solid 2px @slider-color;

            &:focus {
                box-shadow: 0 0 0 3px lighten(@slider-color, 30%);
            }
        }

        &-dot-active {
            border-color: @slider-color;
        }

        &-track {
            background-color: @slider-color;
        }

        &-mark {
            top: auto;
            bottom: 40px;

            &-text {
                font-weight: bold;
            }

            &-text-active {
                color: @slider-color;
            }
        }

        &-disabled {
            background-color: transparent;
        }
    }
}
