.form-group-accordion {
    position: relative;
    margin-left: 15px;
    margin-bottom: 15px;

    .form-group-header {
        display: flex;
        align-items: center;

        border-bottom: 1px solid @gray-mid;

        .icon {
            color: @info-dark;
            font-size: 14px;
            padding-left: 15px;
            padding-right: 15px;
            width: 20px;
        }

        .form-group-toggle {
            padding: 10px;

            background-color: transparent;
            text-align: start;
            font-size: 1.5em;
            border: none;
            cursor: pointer;
            color: @gray-darkest;

            &:focus {
                outline: none;
            }
        }
    }

    .icon-expanded {
        @dropdown-icon();
    }

    .icon-collapsed {
        @table-pagination-next();
    }
}

.expanded {
    .form-group-header {
        .form-group-toggle {
            color: @gray-darkest !important;
        }
    }
}

.form-group-content {
    padding: 15px 0 15px 60px;
}
