@import "~react-table/react-table.css";

.table {
    font-size: 12px;

    @icon-button-defaults: {
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: @gray-darker;

        &:focus {
            outline: none;
        }

        &[disabled] {
            color: @gray-light;
            cursor: not-allowed;
            pointer-events: none;
        }

        &:hover:not([disabled]) {
            color: @info;
        }
    };

    .ReactTable {
        border: none;

        .rt-table {
            border-top: @default-border;
        }

        .rt-thead.-header {
            background: @gray-lighter;
            font-weight: bold;
            margin: 0 1px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

            padding-top: 4px;
            padding-bottom: 4px;

            border-bottom: 0;

            .rt-th {
                padding: 8px;
                text-align: left;

                border: 0;

                &:focus {
                    outline: none;
                }
            }
        }

        .rt-tr-group {
            border: none;
            background: @white;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            margin: 2.5px 1px;
        }

        .rt-tbody {
            .rt-tr:hover {
                background-color: @info-light;
            }
        }

        .rt-td {
            display: flex;
            align-items: center;

            padding: 8px;
            border: 0;
            white-space: normal;
        }
    }

    .table-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 100%;

        padding: 2px 0;

        border-top: 1px solid @gray-mid;

        .table-pagination {
            @pagination-part-padding: 3px 4px;

            display: flex;
            align-items: center;
            min-height: 32px;

            .table-pagination-button {
                @icon-button-defaults();
                font-size: 12px;

                height: 16px;
                width: 16px;
                margin: 0;
                padding-left: 0;
                padding-right: 0;
            }

            .table-pagination-first {
                @table-pagination-first();
            }

            .table-pagination-previous {
                @table-pagination-previous();
            }

            .table-pagination-next {
                @table-pagination-next();
            }

            .table-pagination-last {
                @table-pagination-last();
            }

            .table-pagination-buttons {
                height: 20px;
                padding: @pagination-part-padding;
            }

            .pagination-current-page {
                display: flex;
                align-items: baseline;
                padding: @pagination-part-padding;

                .pagination-current-page-spin {
                    width: 40px;
                    margin: 0 4px;
                    border: none;
                    border-bottom: @default-border;
                    background-color: transparent;
                    text-align: right;


                    &::-webkit-inner-spin-button {
                        opacity: 1;
                    }
                }
            }

            .pagination-rows {
                min-width: 90px;
                display: flex;
                align-items: center;
                margin-left: 15px;
            }

            .select-component {
                margin-left: 5px;
            }

            .select-option-toggle {
                height: 30px;
                border: none;
                text-align: center;
                padding: 3px 29px 3px 19px;
                border-bottom: 2px solid @gray-mid;

                .arrow {
                    line-height: 30px;
                }
            }

            .select-option-items {
                border: @default-border;
                border-top: 0;
                text-align: right;
            }
        }
    }

    .action-button-wrapper {
        margin-right: 8px;

        .action-button {
            @icon-button-defaults();
            width: 15px;
            height: 15px;
            padding: 0;
        }

        &:before {
            display: block;
            width: 15px;
            height: 15px;
        }
    }

    .table-header {
        text-align: left;
    }

    .invisible {
        visibility: hidden;
    }

    .table-actions-cell {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .-sort-asc {
        box-shadow: none !important;

        .header-icon {
            @table-header-sort-asc-icon();
        }
    }
    .-sort-desc {
        box-shadow: none !important;

        .header-icon {
            @table-header-sort-desc-icon();
        }
    }

    .search-bar {
        width: 350px;
        border: @default-border;
    }
}

