.textarea-component {
    display: flex;
    textarea {
        height: auto;
        &:focus {
            outline: none;
            box-shadow: 0 0 1px fade(@info, 50%);
        }
        &[disabled] {
            background: @gray-light;
            cursor: not-allowed;
        }
    }
}
