.password-input-component {
  display: flex;

  .prepend-append {
    background-color: transparent;
    line-height: 32px;
    font-size: 12px;
    padding-right: 5px;
    color: @gray-darkest;
    cursor: default;
    white-space: nowrap;
  }

  .input-prepend {
    .prepend-append();
  }

  .input-append {
    .prepend-append();
  }

  input {
    &:focus {
      box-shadow: 0 0 1px fade(@info, 50%);
      outline: none;
    }
  }
}
