.search-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 0 10px;

    background-color: @white;
    color: @gray-darker;

    &:focus-within {
        box-shadow: 0px 0px 2px @info;
    }

    .search-input-icon {
        &-filter {
            @table-search-bar-icon();
            font-size: @base-font-size;
        }

        &-clear {
            @close-icon();
            padding-right: 0;
            font-size: @base-font-size;
            background: transparent;
            border: 0;
            color: @gray-darker;
            cursor: pointer;
            &:disabled {
                color: @gray-light;
            }
        }
    }

    .search-input-filter {
        flex: 1;
        border: none;
        box-shadow: none;
        font-size: @base-font-size;

        &::placeholder {
            color: @gray-darkest;
        }

        &:disabled {
            &::placeholder {
                color: @gray-light;
            }
        }

        &:focus {
            outline: none;
        }
    }
}
